body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 50px;
}

.mission-text {
  color: orange;
}

.section1-flex {
  display: flex;
}

.half-width {
  width: 50%;
  padding-left: 7%;
}

.half-width img {
  width: 50%;
}

.explore-now {
  text-decoration: none;
  background-image: linear-gradient(purple, blue);
  padding: 10px 40px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
}

.year2022 {
  color: orange;
}

.center-text h1{
text-align: center;
}

.flex-class {
  display: flex;
}

.flex-lass-items {
  padding-left: 5%;
  padding-right: 3%;
}

.flex-lass-items img {
  width: 40%;
}

.flexitem-1 {
  background-color: #edf5f6;
  border-radius: 15px;
}

.flexitem-2 {
  background-color: #ffeeee;
  border-radius: 15px;
}
.flexitem-3 {
  background-color: #fff4d6;
  border-radius: 15px;
}

.section3-flex {
  display: flex;
}

.section3-flex img {
  width: 30%;
}

.app-image {
  width: 50%;
}
